{% extends "base.html" %}
{% load static %}
{% block title %}Page Not Found{% endblock %}
{% block content %}

        <div id="main">

            <div class="stm-default-page stm-default-page-404">
                <div class="container">
                    <div class="text-center heading-font">
                        <div class="stm-red stm-404-warning">!</div>
                        <div class="stm-red stm-404-warning">404</div>
                        <div class="h1 text-transform">Page not found</div>
                        <div class="h5 text-transform">
                            Sorry, Nothing was found on this page. We encourage you to make use of our menu for better navigation. Thanks!</div>
                    </div>
                </div>
            </div>

        </div>
        <!--main-->

{% endblock %}