{% extends "base.html" %}
{% block title %}Videos{% endblock %}
{% block content %}

        <div id="main">
        <br/>
            <div class="container">
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="stm-media-vc-archive ">

                                    <div class="stm-media-archive stm-media-archive-none">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="stm-media-tabs">
                                                        <div class="clearfix">
                                                            <div class="stm-title-left">
                                                                <h3 class="stm-main-title-unit">Videos</h3>
                                                            </div>
                                                        </div>
                                                        <div class="stm-medias-unit-wider">
                                                            <div class="stm-medias-unit clearfix">

                                                                <div class="row row-3 row-sm-2">
                                                                {% for video in videos %}
                                                                    <div class="col-md-6 col-sm-6">
                                                                        {{ video.embed_code|safe }}
                                                                    </div>
                                                                {% endfor %}
                                                                </div>                                                        
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Sidebar-->

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix">
                </div>
            </div>

        </div>
        <!--main-->

{% endblock %}